{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'G_P16/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'G_P16/bootstrap-icons/font/bootstrap-icons.css' %}">
	<title></title>
</head>
<body class="bg-dark bg-opacity-25">
{% block content %}{% endblock %}

	<div class="container">
		<div class="row">
			<div style="margin-top: 12%; border-radius: 10px; box-shadow: 3px 4px 5px gray;" class="col-6 p-3 offset-3 border border-dark border-3 bg-white">
				<div class="row">
					<h3 class="text-center fw-bold">CONNEXION</h3>
						{% if messages %}
							{% for message in messages %}
								<p class="error text-center text-danger fw-bold">{{ message }}</p>
							{% endfor %}
						{% endif %}
					<form class="form" action="" method="POST" id="formulaire">
						{% csrf_token %}
						<div class="form-group my-3 w-75 mx-auto">
							<label for="dep" class="form-label fw-bold">Login <span class="text-danger">*</span></label>
							<input class="form-control" type="text" id="login" name="login">
						</div>
						<div id="pwd" class="form-group my-3 w-75 mx-auto">
							<label class="form-label fw-bold" for="passe">Mot de passe <span class="text-danger">*</span></label></label>
							<input class="form-control" type="password" id="passe" name="passe">
						</div>
						<div class="form-group my-3 w-75 mx-auto">
							<input id="afficheMDP" class="input-check" type="Checkbox"> <span class="fw-bold">Afficher le mot de passe</span>
						</div>
						<div class="form-group my-3 w-75 mx-auto">
							<input class="btn btn-success w-100 fw-bold" type="submit" value="Se connecter"> 
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'G_P16/js/bootstrap.bundle.js' %}"></script>
	<script type="text/javascript" src="{% static 'G_P16/js/jquery-3.7.0.js' %}"></script>

	<script type="text/javascript">

		document.getElementById("formulaire").addEventListener("submit",function(event){
			var user = document.getElementById("login").value;
			var passe = document.getElementById("passe").value;
			
			if (user == "" || passe == "") {
				alert("Veuillez tous les champs.");
				event.preventDefault(); // empeche l'envoi d'un mail non valide
				if (user == "") {
					document.getElementById("login").focus();
				}else{
					document.getElementById("passe").focus();
				}
			}
		});

		$(document).ready(function(){
			$("#afficheMDP").click(function(){
				if ($("#pwd input").attr("type") == "password") {
					$("#pwd input").attr("type","text");
				}else{
					$("#pwd input").attr("type","password");
				}
			});
		});
		
	</script>
</body>
</html>