{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'G_P16/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'G_P16/bootstrap-icons/font/bootstrap-icons.css' %}">
	<title></title>

</head>
<body>
{% block content %}{% endblock %}

	<div class="col-12">
		<div>
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-info" style="border-radius: 10px;">
					<div class="container-fluid justify-content-sm-between">
					    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
					      <span class="navbar-toggler-icon"></span>
					    </button>
					    <div class="collapse navbar-collapse" id="navbarSupportedContent">
					      <ul class="navbar-nav ms-md-5 ms-sm-0 me-auto mb-2 mb-lg-0" style="font-weight: bold; font-size: 18px;">
					        <li class="nav-item">
					          <a class="nav-link active" href="{% url 'G_P16:index' %}">Acceuil</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link" href="{% url 'G_P16:presentation' %}">Présentation</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link" href="{% url 'G_P16:departement' %}">Départements</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Contactez-nous</a>
					          <!-- Button trigger modal -->

							<!-- Modal -->
							<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h1 class="modal-title fs-5" id="staticBackdropLabel">Laissez un message</h1>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        	<div class="container">
							        		<form class="form">
							        		<div class="row gy-3">
							        			<input type="email" placeholder="Votre mail : moi@gmail.com" name="mail" class="form-control">
							        			<input type="text" placeholder="Sujet" name="sujet" class="form-control">
							        			<textarea style="resize: none;" placeholder="Votre message"></textarea>
							        			<a type="submit" class="btn btn-success fw-bold disabled" href="">Envoyer</a>
							        		</div>
							        	</form>
							        	</div>
							      </div>
							    </div>
							  </div>
							</div>
					        </li>
					      </ul>
					    </div>
					    <h1 class="fw-bold h4">Promotion 16</h1>
					</div>
				</nav>
			</div>	
		</div>

	<div class="container">
		<div" style="box-shadow: 4px 4px 4px gray;" class="card mb-4 mt-1 border-3">
		  <div class="card-body">
		    <h5 class="card-title text-center fw-bold h2 border-bottom border-3 p-2">LISTE DES DEPARTEMENTS</h5>
		    <div class="accordion" id="accordionExample">
  		<div class="accordion-item">
	    <h2 class="accordion-header">
	      <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	        Génie Informatique
	      </button>
	    </h2>
	    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
	      <div class="accordion-body row">
	        <div class="col-md-3 border-2 border-end">
	        	<h2 class="text-center h6 fw-bold">Licence 1</h2>
	        	<p class="text-center">
		        	Algorithmique 1<br>
		        	Informatique de base<br>
		        	Techniques de l'expression<br>
		        	Anglais technique<br>
		        	Algèbre<br>
		        	Algorithmique 2<br>
		        	Langage C<br>
		        	Conception des systèmes d'informations<br>
		        	Logique et architecture<br>
		        	Réseau 1<br>
		        </p>
	        </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 2</h2>
	         	<p class="text-center">
		        	Langage C++<br>
		        	Système d'exploitation<br>
		        	Access<br>
		        	Linux<br>
		        	Html/css<br>
		        	Maitenance Informatique<br>
		        	Probalité statistique<br>
		        	Comptabilité<br>
		        	SQL server<br>
		        	MySQL<br>
		        </p>
	         </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 3</h2>
	         	<p class="text-center">
		        	PHP<br>
		        	Génie logiciel<br>
		        	Uml<br>
		        	Windev<br>
		        	Admin réseau sous windows<br>
		        	Oracle<br>
		        	VB net<br>
		        	Admin réseau sous linux<br>
		        	Java<br>
		        	Gestion d'entreprise<br>
		        </p>
	         </div>
	         <div class="col-md-3">
	         	<h2 class="text-center h6 fw-bold">Licence 4</h2>
	         	<p class="text-center">
		        	Réseau cisco<br>
		        	Sécurité informatique<br>
		        	Législation<br>
		        	PLS<br>
		        	Multimédia<br>
		        	Réseau informatique protocole et architecture<br>
		        	Voix sur IP<br>
		        	Application mobile(Android)<br>
		        	Stage de fin de cycle<br>
		        </p>
	         </div>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item">
	    <h2 class="accordion-header">
	      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	        Instrumentations et mesures physiques
	      </button>
	    </h2>
	    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	      <div class="accordion-body row">
	        <div class="col-md-3 border-2 border-end">
	        	<h2 class="text-center h6 fw-bold">Licence 1</h2>
	        	<p class="text-center">
		        	Electricité<br>
		        	Géometrie descriptive<br>
		        	Techniques de l'expression<br>
		        	Anglais technique<br>
		        	Algèbre<br>
		        	Chimie générale<br>
		        	Dessin technique<br>
		        	Analyse<br>
		        	Mécanique relationnelle<br>
		        	Thermodynamique<br>
		        </p>
	        </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 2</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 3</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 4</h2>
	         </div>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item">
	    <h2 class="accordion-header">
	      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	        Energétique
	      </button>
	    </h2>
	    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	      <div class="accordion-body row">
	         <div class="col-md-3 border-2 border-end">
	        	<h2 class="text-center h6 fw-bold">Licence 1</h2>
	        	<p class="text-center">
		        	Electricité<br>
		        	Géometrie descriptive<br>
		        	Techniques de l'expression<br>
		        	Anglais générale<br>
		        	Algèbre<br>
		        	Chimie générale<br>
		        	Dessin technique<br>
		        	Analyse<br>
		        	Mécanique relationnelle<br>
		        	Thermodynamique<br>
		        </p>
	        </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 2</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 3</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 4</h2>
	         </div>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item">
	    <h2 class="accordion-header">
	      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	        Conception et Fabrication Mécanique
	      </button>
	    </h2>
	    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	      <div class="accordion-body row">
	        <div class="col-md-3 border-2 border-end">
	        	<h2 class="text-center h6 fw-bold">Licence 1</h2>
	        	<p class="text-center">
		        	Electricité<br>
		        	Géometrie descriptive<br>
		        	Techniques de l'expression<br>
		        	Anglais générale<br>
		        	Algèbre<br>
		        	Chimie générale<br>
		        	Dessin technique<br>
		        	Analyse<br>
		        	Mécanique relationnelle<br>
		        	Thermodynamique<br>
		        </p>
	        </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 2</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 3</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 4</h2>
	         </div>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item">
	    <h2 class="accordion-header">
	      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
	        Technologie des Equipements Bio-Médicaux
	      </button>
	    </h2>
	    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	      <div class="accordion-body row">
	        <div class="col-md-3 border-2 border-end border-2 border-end border-2 border-end">
	        	<h2 class="text-center h6 fw-bold">Licence 1</h2>
	        	<p class="text-center">
		        	Electricité<br>
		        	Géometrie descriptive<br>
		        	Techniques de l'expression<br>
		        	Anglais technique<br>
		        	Algèbre<br>
		        	Chimie générale<br>
		        	Dessin technique<br>
		        	Analyse<br>
		        	Mécanique relationnelle<br>
		        	Thermodynamique<br>
		        </p>
	        </div>
	         <div class="col-md-3 border-2 border-end border-2 border-end border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 2</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end border-2 border-end border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 3</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end border-2 border-end border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 4</h2>
	         </div>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item">
	    <h2 class="accordion-header">
	      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
	        Techniques de Laboratoires Biologie
	      </button>
	    </h2>
	    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	      <div class="accordion-body row">
	        <div class="col-md-3 border-2 border-end border-2 border-end">
	        	<h2 class="text-center h6 fw-bold">Licence 1</h2>
	        	<p class="text-center">
		        	BioChimie générale<br>
		        	Technique de laboratoire<br>
		        	Techniques de communication<br>
		        	Anglais générelr<br>
		        	Algèbre<br>
		        	Chimie générale<br>
		        	Biologie cellulaire<br>
		        	Analyse<br>
		        	Probabilité statistique<br>
		        	Chimie organique<br>
		        </p>
	        </div>
	         <div class="col-md-3 border-2 border-end border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 2</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 3</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 4</h2>
	         </div>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item">
	    <h2 class="accordion-header">
	      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
	        Techniques de Laboratoires Chimie
	      </button>
	    </h2>
	    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	      <div class="accordion-body row">
	        <div class="col-md-3 border-2 border-end">
	        	<h2 class="text-center h6 fw-bold">Licence 1</h2>
	        	<p class="text-center">
		        	Chimie minérale<br>
		        	Electro-technique<br>
		        	Techniques de communication<br>
		        	Anglais générelr<br>
		        	Algèbre<br>
		        	Chimie générale<br>
		        	Biologie cellulaire<br>
		        	Analyse<br>
		        	Probabilité statistique<br>
		        	Chimie organique<br>
		        </p>
	        </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 2</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 3</h2>
	         </div>
	         <div class="col-md-3 border-2 border-end">
	         	<h2 class="text-center h6 fw-bold">Licence 4</h2>
	         </div>
	      </div>
	    </div>
	  </div>
	</div>
			    </div>
			  </div>
			</div>

		</div>

	<div class="row p-3 bg-black bg-opacity-80 align-items-center gy-sm-3">
		<div class="col-md-4 text-white text-center align-items-center">
			<img style="height: 50px; width: 50px;" class="img-fluid rounded-circle" src="{% static 'G_P16/images/logo.png' %}"></img>
			<p class="h5 fw-bold">Promotion 16</p>
			<p class="fw-bold">Groupe IV - Génie Informatique</p>
		</div>
		<div class="col-md-4 text-white text-center align-self-center">
			<p class="h6 fw-bold">Copyright 2023 © - Tous droits réservés.</p>
		</div>
		<div class="col-md-4 text-white text-center align-items-center">
			<p class="h6 fw-bold">Contactez-nous sur :</p>
			<p class="fw-bold"><i class="bi bi-whatsapp"></i> Whatsapp : 623396720/621037903/626607630</p>
			<p class="h6 fw-bold"><i class="bi-mailbox"></i> Mail : groupeIV@gmail.com</p>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'G_P16/js/bootstrap.bundle.js' %}"></script>
</body>
</html>