{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'G_P16/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'G_P16/bootstrap-icons/font/bootstrap-icons.css' %}">
	<title></title>
</head>
<body>
{% block content %}{% endblock %}

	<script type="text/javascript" src="{% static 'G_P16/js/bootstrap.bundle.js' %}"></script>
</body>
</html>

