{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'G_P16/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'G_P16/bootstrap-icons/font/bootstrap-icons.css' %}">
	<title></title>

</head>
<body>
{% block content %}{% endblock %}

	<div class="col-12">
		<div>
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-info" style="border-radius: 10px;">
					<div class="container-fluid justify-content-sm-between">
					    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
					      <span class="navbar-toggler-icon"></span>
					    </button>
					    <div class="collapse navbar-collapse" id="navbarSupportedContent">
					      <ul class="navbar-nav ms-md-5 ms-sm-0 me-auto mb-2 mb-lg-0" style="font-weight: bold; font-size: 18px;">
					        <li class="nav-item">
					          <a class="nav-link active" href="{% url 'G_P16:index' %}">Acceuil</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link" href="{% url 'G_P16:presentation' %}">Présentation</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link" href="{% url 'G_P16:departement' %}">Départements</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Contactez-nous</a>
					          <!-- Button trigger modal -->

							<!-- Modal -->
							<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h1 class="modal-title fs-5" id="staticBackdropLabel">Laissez un message</h1>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        	<div class="container">
							        		<form class="form">
							        		<div class="row gy-3">
							        			<input type="email" placeholder="Votre mail : moi@gmail.com" name="mail" class="form-control">
							        			<input type="text" placeholder="Sujet" name="sujet" class="form-control">
							        			<textarea style="resize: none;" placeholder="Votre message"></textarea>
							        			<a type="submit" class="btn btn-success fw-bold disabled" href="">Envoyer</a>
							        		</div>
							        	</form>
							        	</div>
							      </div>
							    </div>
							  </div>
							</div>
					        </li>
					      </ul>
					    </div>
					    <h1 class="fw-bold h4">Promotion 16</h1>
					</div>
				</nav>
			</div>	
		</div>

	<div class="container mt-2 mb-4 h-auto">
		<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col justify-content-sm-around">
    <div class="card h-100 text-center pt-2" style="box-shadow: -4px 3px 6px gray;">
      <img style="height: 170px; width: 170px;" src="{% static 'G_P16/images/logo.png' %}" class="card-img-top img-fluid rounded-circle align-self-center" alt="...">
      <div class="card-body">
        <h5 class="card-title fw-bold h2">Introduction</h5>
        <p class="card-text fw-bold text-start">
        	Bienvenue à la présentation officielle de la Promotion 16  de l'IST-Mamou. Cette promotion, ancrée dans l'excellence académique, représente l'engagement de notre institution envers l'éducation de qualité et la formation de leaders éclairés. Au cœur de cette présentation, découvrez le programme d'études stimulant, notre corps professoral qualifié, les installations de pointe et les opportunités professionnelles exceptionnelles qui font de cette promotion une expérience éducative unique.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 text-center pt-2" style="box-shadow: -4px 3px 6px gray;">
      <img style="height: 170px; width: 170px;" src="{% static 'G_P16/images/obj.png' %}" class="card-img-top img-fluid rounded-circle align-self-center" alt="...">
      <div class="card-body">
        <h5 class="card-title fw-bold h2">Objectif</h5>
        <p class="card-text fw-bold text-start">
        	Cette promotion vise à acquerir une éducation complète, nous dotant les compétences nécessaires pour exceller dans nos domaines respectifs. Les objectifs incluent plusieurs sous-objectifs spécifiques en fonction des différents programmes suivis.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 text-center pt-2" style="box-shadow: -4px 3px 6px gray;">
      <img style="height: 170px; width: 170px;" src="{% static 'G_P16/images/prog.png' %}" class="card-img-top img-fluid rounded-circle align-self-center" alt="...">
      <div class="card-body">
        <h5 class="card-title fw-bold h2">Programmes d'études</h5>
        <p class="card-text fw-bold text-start">
        	Explorez notre programme académique rigoureux, comprenant des cours essentiels tels que le Génie logiciel au compte du programmr Génie Informatique, des possibilités de spécialisation et des projets collaboratifs.
        </p>
      </div>
    </div>
  </div>
</div>
	</div>

	<div class="row p-3 bg-black bg-opacity-80 align-items-center gy-sm-3">
		<div class="col-md-4 text-white text-center align-items-center">
			<img style="height: 50px; width: 50px;" class="img-fluid rounded-circle" src="{% static 'G_P16/images/logo.png' %}"></img>
			<p class="h5 fw-bold">Promotion 16</p>
			<p class="fw-bold">Groupe IV - Génie Informatique</p>
		</div>
		<div class="col-md-4 text-white text-center align-self-center">
			<p class="h6 fw-bold">Copyright 2023 © - Tous droits réservés.</p>
		</div>
		<div class="col-md-4 text-white text-center align-items-center">
			<p class="h6 fw-bold">Contactez-nous sur :</p>
			<p class="fw-bold"><i class="bi bi-whatsapp"></i> Whatsapp : 623396720/621037903/626607630</p>
			<p class="h6 fw-bold"><i class="bi-mailbox"></i> Mail : groupeIV@gmail.com</p>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'G_P16/js/bootstrap.bundle.js' %}"></script>
</body>
</html>